* {
  font-family: Arial, sans-serif;
}

.home-main {
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(83, 83, 83));
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;  /* if you need vertical stacking */
  overflow: hidden;        /* stops scroll */
}

.home-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.home-header {
  padding-bottom: 0px;
  align-self: center;
  padding-bottom: 250px;
  font-size: 24px;
  padding-top: 20px;
}


.home-buttons {
  color: rgb(0, 0, 0);
  background-color: rgb(67, 64, 68);
  text-align: center;
  width: 220px;
  height: 50px;
  align-self: center;  
  font-size: 30px;
  border-radius: 10px;
}

.home-inputs {
  width: 220px;
  height: 50px;
  align-self: center;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  background-color: rgb(202, 202, 202);
}

.lobby-main {
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(83, 83, 83));
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;  /* if you need vertical stacking */
  overflow: hidden;        /* stops scroll */
}

.lobby-players {
  height: 250px;
  align-items: center;
}

.lobby-players p {
  font-size: 25px;
  padding-left: 10px;
}

.lobby-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(4, auto);   /* 4 rows */
  gap: 10px; /* spacing between items */
  list-style: none;
  padding: 0;
  font-size: 25px;
  text-align: center;
}

.lobby-gamecode {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.lobby-start-button {
  color: rgb(0, 0, 0);
  background-color: rgb(67, 64, 68);
  text-align: center;
  width: 220px;
  height: 50px;
  align-self: center;  
  font-size: 30px;
  border-radius: 10px;
  margin-top: 40px;
}

.answer-input {
  width: 220px;
  height: 50px;
  align-self: center;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  background-color: rgb(202, 202, 202);
  margin-top: 200px;
}

.game-container {
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(83, 83, 83));
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;  /* if you need vertical stacking */
  overflow: hidden;        /* stops scroll */
  gap: 20px;
}

.question-header {
  align-self: center;
  font-size: 25px;
  margin-top: 20px;
}

.question-header p {
  margin-top: 100px;
}
